body {
  /* margin: 20px; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #749D87;
}

/* .tab-pane {
    border: solid 1px gray;
    border-top: 0;
    padding: 15px;
} */

.nav-tabs {
    border-bottom: 0;
} 

.opened-tab {
    background-color: whitesmoke;
}

.panel.with-nav-tabs {
    background-color: lightsteelblue;
}

.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
    font-size: 25px;
    background-color: #908070;
}

.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}

.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover {
    color: white;
}

.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: white;
	background-color: #ddd;
	border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
	color: #555;
	background-color: #fff;
	border-color: #ddd;
	border-bottom-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.tab_container {
    border-style: outset;
    margin: 20px;
}

.tab_name_off {
    border: none;
    background-color: inherit;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    /* text-align: left; */
}

.tab_name_on {
    border: none;
    background-color: inherit;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    /* text-align: left; */
}

/* On mouse-over */
.tab_name_off:hover {
    background: darkgray;
    color: white;
}
.tab_name_off:focus {outline: 0;}

.tab_name_on:hover {
    background: darkgray;
    color: white;
}
.tab_name_on:focus {outline: 0;}